/*
 * Empty Stylesheet file.
 */
#assetDashboard{

}
.label{

    -fx-text-fill: #FFFFFF;

}
.mainFxmlClass {

    -fx-background-color:#062a4e;
    -fx-border-color:#FFFFFF;
    -fx-border-radius:2%;

}
