.root{

}
.button{

}
#pane1{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane2{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane3{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane4{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane5{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane6{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane7{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}
#pane8{
    -fx-border-color:#cccccc;
    -fx-border-radius:5px;
}