/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {
    -fx-background-color:#66ADCD; 
}
.text-field{
    -fx-font-family:Arial Unicode MS;
    -fx-font-style:Regular;
    -fx-font-size:9pt;  
}
.button{
    -fx-font-family:Arial Rounded MT Bold;
    -fx-font-style:Regular;
    -fx-font-size:9pt;
    -fx-background-radius: 5px;
    -fx-border-color:#FFFFFF;
    -fx-background-style:flat;
    -fx-border-radius: 5px;
    -fx-border-width:1pt;
    -fx-background-color:#FFFFFF;
}*/
