
.mainFxmlClass {

}
#paneMain{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#panemain{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane1{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane2{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane3{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane4{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane5{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane6{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane7{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane8{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
#pane9{
    -fx-border-color:#cccccc;
    -fx-border-radius: 5px;
}
.button{
/*    -fx-border-color:#66ADCD;*/
    -fx-background-style:flat;
    -fx-border-radius: 5px;
    -fx-border-width:1pt;
    -fx-background-color:#FFFFFF;
}
.combo-box{
    -fx-font-family:Arial Rounded MT Bold;
}
